<div class="d-flex flex-column flex-lg-row user">
  <div class="d-flex flex-row flex-lg-column flex-wrap user--intro">
    <h2 class="mr-2 mr-lg-0"><%= ENV.fetch("CHATBOT_LANGUAGE_KO") { '파이썬' } %> 챗봇</h2>
    <h2>회원가입</h2>
  </div>
  
  <div class="d-flex flex-column user--form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :username, '이름', class:"required" %>
        <%= f.text_field :username, autofocus: true, autocomplete: "off", class: "form-control #{form_invalid(resource, :username)}" %>
      </div>

      <div class="form-group">
        <%= f.label :password, '비밀번호', class:"required" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control #{form_invalid(resource, :password)}" %>
        <small class="form-text text-muted">비밀번호는 <%= @minimum_password_length %>자 이상이어야 합니다.</small>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, '비밀번호 확인', class:"required" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control #{form_invalid(resource, :password_confirmation)}" %>
      </div>

      <div class="user--button">
        <%= f.submit "회원가입", class: "btn btn-primary mb-2" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
