<div class="d-flex flex-column flex-lg-row user">
  <div class="d-flex flex-row flex-lg-column flex-wrap user--intro">
    <h2 class="mr-2 mr-lg-0"><%= ENV.fetch("CHATBOT_LANGUAGE_KO") { '파이썬' } %> 챗봇</h2>
    <h2>비밀번호 재설정</h2>
  </div>
  
  <div class="d-flex flex-column user--form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group">
        <%= f.label :username, '이름' %>
        <%= f.text_field :username, autofocus: true, autocomplete: "off", class: "form-control #{form_invalid(resource, :username)}" %>
      </div>

      <% if flash.present? %>
        <% flash.each do |key, message| %>
          <small class="form-text text-muted"><%= message %></small>
        <% end %>
      <% end %>

      <div class="user--button">
        <%= f.submit "계정 인증", class: "btn btn-primary mb-2" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
