<div class="container">
  <div class="row bot">
    <div class="col-12 col-lg-6">
      <label class="bot--label">입력 메시지<% unless @bot.user_id %><span class="tag--tamplate ml-2">템플릿</span><% end %></label>
      <p class="bot--message">
        <%= @bot.message %>
      </p>

      <label class="bot--label">답변 코드</label>
      <div class="readonly-editor">
        <textarea class="bot--response" rows="10" readonly="true"><%= @bot.response %></textarea>
      </div>

      <div class="d-flex justify-content-between py-3">
        <div class="bot--button">
          <%= link_to '수정', edit_bot_path(@bot), class: 'btn btn-info' %>
          <% if !@bot.parent_id.nil? %>
            <%= link_to '초기화', bot_path(@bot), class: 'btn btn-danger', data: { method: :delete, confirm: '초기화 하시겠습니까?' } %>
          <% elsif !@bot.template? || current_user.admin? %>
            <%= link_to '삭제', bot_path(@bot), class: 'btn btn-danger', data: { method: :delete, confirm: '삭제 하시겠습니까?' } %>
          <% end %>
          <%= link_to '목록', bots_path, class: 'btn btn-secondary' %>
        </div>
        <button id="run_bot" type="button" class="btn btn-success" data-id="<%= @bot.id %>">실행</button>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <label>실행 결과</label>
      <div class="bot--result">
        <pre id="result"></pre>
      </div>
    </div>
  </div>
</div>
