<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>루비챗봇<%= yield(:title) %></title>

    <meta name="description" content="Make your chatbot which can run ruby">
    <meta name="application-name" content="LIKE LION">
    <meta name="author" content="LIKE LION">
    <meta property="og:title" content="루비챗봇">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rb.likelion.io">
    <meta property="og:description" content="Make your chatbot which can run ruby">
    <meta property="og:image" content="<%= image_url('og-image.png') %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.pusher.com/4.1/pusher.min.js', 'data-turbolinks-track': 'reload' %>

    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= image_url('favicons/favicon-152.png') %>">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= image_url('favicons/favicon-120.png') %>">
    <!-- favicons -->
    <link rel="shortcut icon" href="<%= image_url('favicons/favicon.ico') %>" />
  </head>

  <body>
    <%= react_component("Navbar", {
      root_path: bots_path,
      edit_user_registration_path: edit_user_registration_path,
      destroy_user_session_path: destroy_user_session_path,
      controller: params[:controller],
      username: current_user.username,
    }, {prerender: true}) if user_signed_in? %>
    
    <%= yield %>
  </body>
</html>
